@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --bg-color: rgb(16, 194, 234); */
  --bg-color: rgb(255, 122, 0);
  /* background-color: #15202B !important; */
  --bg-hover-color: rgba(247, 249, 249, 0.1);
}

body {
  /* overflow: hidden; */
  font-family: "Roboto", sans-serif;
  background-color: #15202b;
  color: white;
  --theme-color: var(--bg-color);
  --theme-hover-color: var(--bg-hover-color);
}

.fix_height {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(34, 36, 42);
  pointer-events: none;
}

input:disabled {
  border: 1px solid rgb(73, 72, 72) !important;
}

button:disabled {
  border: 1px solid rgb(116, 116, 116) !important;
  cursor: default !important;
  background-color: rgb(7, 7, 7);
  color: rgb(28, 28, 28);
}

.msg_text {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  /* This centers the element horizontally */
  padding: 7px;
  background-color: rgb(0, 154, 201);
  width: 220px;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
}
@media (max-width: 500px) {
  .msg_text {
    position: fixed;
    z-index: 100;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    /* This centers the element horizontally */
    padding: 7px;
    background-color: rgb(0, 154, 201);
    width: 220px;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
  }
}
.active {
  border-radius: 20px;
  font-weight: 700;
}
.active svg {
  fill: white;
}
a {
  color: white;
  text-decoration: none;
}

.red-word {
  color: var(--theme-color);
}

.red-word:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:disabled {
  background-color: var(--theme-hover-color) !important;
  border: none !important;
  outline: none !important;
  color: #747475 !important;
}

.profile_top {
  position: relative;
}

.profile_top::after {
  content: "back";
  font-size: 10px;
  padding: 4px 0;
  top: 40px;
  z-index: 1;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(3, 85, 106);
  border: 1px solid var(--bg-hover-color);
  width: 50px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  /* Add a transition for a smooth effect */
}

.profile_top:hover::after {
  opacity: 1;
}

.scrollbar_hide::-webkit-scrollbar {
  width: 0;
}

.user_doesnt_find {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_doesnt_find p {
  text-align: center;
}

.user_doesnt_find p {
  font-weight: 700;
}

.user_doesnt_find span {
  font-weight: 400;
}

.select_a_msg_to_show {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  font-size: 20px;
}
.select_a_msg_to_show p {
  font-weight: 900;
}
#share_tweet {
  position: absolute;
  z-index: 100;
  background-color: #15202b;
  border: 1px solid var(--theme-color);
  border-radius: 20px;
  transition: 0.2s;
  /* background-color: #15202b; */
  /* border: 1px solid black; */
  width: 100px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-left: -63px;
  cursor: default;
}
#share_tweet button {
  padding: 7px;
  border-radius: 20px;
  height: fit-content;
  border: 1px solid var(--theme-hover-color);
  background-color: transparent;
  color: white;
  cursor: pointer;
}
img {
  object-fit: cover;
}
