.account_info_container {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 200px;
}
.account_info_container::-webkit-scrollbar {
  width: 0px;
}
.account_info_mid_container {
  top: 0;
  position: sticky;
  background: rgba(28, 38, 48, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.confirm_password {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  padding: 10px 10px;
}
.confirm_password_alert {
  font-size: 14px;
  padding: 0px 10px;
  margin-bottom: 20px;
  font-weight: 400;
  color: rgb(139, 152, 165);
}
.border_bottom {
  border-bottom: 1px solid var(--theme-hover-color);
}
.verify_password_container_forgot_password {
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}
.verify_password_container_input {
  padding: 0px 10px;
}

.verify_password_container_forgot_password {
  padding: 0px 10px;
  cursor: pointer;
  color: var(--theme-color);
  font-size: 13px;
  width: fit-content;
}
.forgot_password_submit_btn {
  display: flex;
  justify-content: end;
  padding: 15px;
}
.forgot_password_submit_btn button {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--theme-hover-color);
  background-color: var(--theme-color);
  color: white;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.short_password_alert {
  font-size: 13px;
  margin-bottom: 20px;
  font-weight: 400;
  color: rgb(139, 152, 165);
}
.important_container_info {
  border-bottom: 1px solid var(--theme-hover-color);
}
