.user_credentials_messages {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 95%;
  padding: 20px;
  cursor: pointer;
}

.user_credentials_messages:hover {
  background-color: var(--theme-hover-color);
}
.message_user_profile img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}
.messsage_username_name {
  display: grid;
  margin: auto;
  gap: 10px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 17px;
}
.messsage_username_name span {
  color: rgb(139, 152, 165);
  font-weight: 400;
}
.message_user_bio {
  margin-top: 5px;
}

.joined_and_followers_num {
  margin-top: 5px;
  display: flex;
  gap: 5px;
  justify-content: center;
  color: rgb(139, 152, 165);
  font-size: 13px;
}

.user_credentials_messages {
  border-bottom: 1px solid var(--theme-hover-color);
}

.users_conversation {
  height: 90vh; /* Set an appropriate height */
  overflow-y: scroll;
}

.user_conversation_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.my_messages {
  display: flex;
  justify-content: flex-end;
}
.my_msg_container {
  text-align: end;
}
.user_msg_container {
  text-align: start;
}
.my_messages p {
  font-size: 13px;
  background-color: var(--theme-color);
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 6px;
}
.other_user_messages {
  display: flex;
  justify-content: flex-start;
}
.other_user_messages p {
  font-size: 13px;
  margin-bottom: 6px;
  background-color: var(--theme-hover-color);
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
}

.user_conversation_container span {
  font-size: 11px;
  color: rgb(139, 152, 165);
}

/* Message Input */

.message_input_form {
  position: sticky;
  bottom: 0;
}
@media (max-width: 450px) {
  .message_input_form {
    position: sticky;
    bottom: 40px;
  }
}
#message_input {
  visibility: visible;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  width: 100%;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#msg_input::placeholder {
  color: white;
}
#msg_input {
  border: none;
  resize: none;
  padding: 11px 1rem;
  flex-grow: 1;
  visibility: visible;
  color: white;
  border-radius: 2rem;
  margin: 0.1rem;
  background-color: var(--theme-hover-color);
}
#msg_input::-webkit-scrollbar {
  width: 0;
}
#msg_input:focus {
  outline: 1px solid var(--theme-color);
}
.message_input_btn {
  background: var(--theme-hover-color);
  border: none;
  padding: 0 1rem;
  margin: 0.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.send_files {
  border: none;
  flex-grow: 0.5;
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 2rem;
  margin: 0.25rem;
  width: 5px;
  background-color: var(--theme-hover-color);
}
