.tweet_container {
    padding: 0px;
}

.overflow_scrolll {
    height: 96vh;
    padding: 0px 10px 100px 10px;
    overflow-y: scroll !important;
    width: 100%;
    margin-bottom: 200px !important;
}

.overflow_scrolll::-webkit-scrollbar {
    width: 0px !important;
}

.tweet_posted_user {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.tweet_user_profile_name {
    display: flex;
    gap: 10px;
}

.tweet_user_pf img {
    width: 40px;
    margin-top: -4px;
    height: 40px;
    border: 1px solid var(--theme-hover-color);
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
}

.profile_user_name {
    display: grid;
}

.profile_user_name p {
    font-size: 15px;
    font-weight: 700;
}

.profile_user_name span {
    font-size: 13px;
    color: rgb(137, 133, 133);
}

.tweet_user_more_btn svg {
    width: 25px;
    cursor: pointer;
    height: 25px;
    padding: 2px;
}

.tweet_user_more_btn:hover {
    height: 25px;
    border-radius: 20px;
    background-color: var(--theme-hover-color);
}

.margin_top_1 span {
    margin-top: -10px;
}

.tweet_content_text {
    /* background-color: rgb(79, 78, 78); */
    margin-top: 15px;
    margin-bottom: -15px;
}

.border {
    border: 1px solid var(--theme-hover-color);
    border-radius: 20px;
    background-color: transparent;
    width: 100%;
}

.border video {
    width: 100% !important;
    height: 0px !important;
}

/* Margin Top 100px */
.margin_top_100 {
    margin-bottom: 200px !important;
}

/* Date conversion */

.time_views {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid var(--theme-hover-color);
    border-bottom: 1px solid var(--theme-hover-color);
    border-top: 1px solid var(--theme-hover-color);
    border-bottom: 1px solid var(--theme-hover-color);
}

.time_views p {
    font-size: 14px;
    margin: 15px 0 15px 0;
    font-weight: 400;
    color: rgb(139, 152, 165);
}

.time_views span {
    color: white;
    font-weight: 600;
}

.view_engagement {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    padding-top: 15px;
    cursor: pointer;
    font-weight: 400;
    padding-bottom: 15px;
    color: rgb(139, 152, 165);
    border-bottom: 1px solid var(--theme-hover-color);
}

.view_engagement svg {
    fill: rgb(139, 152, 165);
    width: 16px;
}

.view_engagement:hover {
    background-color: var(--theme-hover-color);
}

.break {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    padding-top: 5px;
    cursor: pointer;
    font-weight: 400;
    padding-bottom: 5px;
    color: rgb(139, 152, 165);
    border-bottom: 1px solid var(--theme-hover-color);
}

/* Comment Section */