.main_content {
  width: 85%;
  margin: auto;
  height: 100vh;
  background-color: #15202b !important;
}
.main_content::-webkit-scrollbar {
  width: 0;
}
@media (max-width: 1400px) {
  .main_content {
    width: 90%;
    margin: auto;
    height: 100vh;
    background-color: #15202b !important;
  }
}

@media (max-width: 1100px) {
  .main_content {
    width: 100%;
    margin: auto;
    height: 100vh;
    background-color: #15202b !important;
  }

  .sidebar {
    width: 20%;
  }

  .tweetfields {
    width: 40%;
    overflow-y: scroll;
  }

  .rightbar {
    width: 35% !important;
  }
}
@media (max-width: 1000px) {
  .rightbar {
    width: 45% !important;
  }
}

.three_grid {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100vh;
  /* border: 1px solid var(--theme-hover-color); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.sidebar {
  width: 23%;
  overflow-y: scroll;
  border-right: 1px solid var(--theme-hover-color);
  z-index: 100;
  overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgba(247, 249, 249, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}
@media (max-width: 500px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
.tweetfields {
  width: 47%;
  overflow-y: hidden;
  border-right: 1px solid var(--theme-hover-color);
}

.tweetfields::-webkit-scrollbar {
  width: 0;
}

.rightbar {
  width: 30%;
  border-right: 1px solid var(--theme-hover-color);
}

/* Example styling for columns */
.column {
  margin-bottom: 10px;
}

/* tweet btn on phone */
@media (min-width: 450px) {
  .tweet_btn_on_phone {
    display: none;
  }
}
.tweet_btn_on_phone {
  position: fixed;
  top: 78vh;
  right: 14px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2000;
  background-color: var(--theme-color);
}
.tweet_btn_on_phone svg {
  width: 50px;
  fill: white;
  height: 50px;
  padding: 10px;
}
.post_field_in_phone_and_pc {
  position: fixed;
  width: 100%;
  background-color: #15202b;
  height: 100% !important;
  z-index: 1000;
}
.real_post_div {
  margin-top: 20px;
}

.post_field_in_phone_and_pc .postfield_container {
  max-height: 700px;
}
.post_field_in_phone_and_pc .icons_btn {
  width: 100% !important;
}
@media (min-width: 450px) {
  .post_field_in_phone_and_pc {
    left: 0%;
    height: 100% !important;
  }
  .real_post_div {
    width: 40%;
    margin: auto;
  }
}

@media (max-width: 820px) {
  .show_on_phone {
    display: block;
  }
}
@media (min-width: 820px) {
  .show_on_phone {
    display: none;
  }
}

.post_field_in_phone_and_pc {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
