.edit_profile_container {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 10000;
}
.edit_profile_mid_container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
.profile_top_edit_profile {
  position: sticky;
  top: 0;
  z-index: 10000;
  background: rgba(30, 30, 52, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.profile_edit_container {
  max-width: 40%;
  width: 40%;
  overflow-x: hidden;
  height: 80vh;
  background-color: #15202b;
  border-radius: 5px;
  margin-top: 70px;
}
@media (max-width: 1100px) {
  .profile_edit_container {
    max-width: 60%;
    width: 60%;
    margin-top: 0px;
    margin-top: 60px;
  }
}
@media (max-width: 900px) {
  .profile_edit_container {
    max-width: 80%;
    width: 80%;
    margin-top: 0px;
    margin-top: 60px;
  }
}
@media (max-width: 780px) {
  .profile_edit_container {
    max-width: 100%;
    width: 100%;
    margin-top: 0px;
    margin-top: 60px;
  }
  .width_30_per {
    height: 100vh;
    width: 10% !important;
  }
}
@media (max-width: 500px) {
  .profile_edit_container {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
  }
  .width_30_per {
    height: 100vh;
    width: 0% !important;
  }
}

.width_30_per {
  height: 100vh;
  width: 30%;
}
.save_btn {
  display: flex;
  justify-content: center;
}
.save_btn button {
  width: 100%;
  margin: auto;
  padding: 9px;
  border: 1px solid var(--theme-hover-color);
  border-radius: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 17px;
  transition: 0.3s;
}
.save_btn button:hover {
  background-color: var(--theme-hover-color);
}

.profile_picture_img {
  width: 70px;
  margin: 10px 0 0px 10px;
  height: 70px;
  border-radius: 100%;
}
.cover_picture_img {
  width: 100%;
  margin: 10px 0 0px 0px;
  height: 200px;
}
