.profile_image img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-top: 17px;
  cursor: pointer;
  object-fit: cover;
}

.profile_top_flex {
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
  gap: 10px;
}

.two_tab {
  margin-top: 5px;
  display: flex;
  font-weight: 600;
  border-bottom: 1px solid var(--theme-hover-color);
  width: 100%;
  color: rgb(139, 152, 165);
}

.for_you {
  padding: 13px;
  width: 50%;
  text-align: center;
}

.following_tab {
  padding: 13px;
  width: 50%;
  text-align: center;
  color: rgb(94, 95, 96);
}

.for_you:hover,
.following_tab:hover {
  cursor: pointer;
  background-color: var(--theme-hover-color);
}

.active1 {
  border-bottom: 5px solid var(--theme-color);
  margin: auto;
  color: white !important;
}
