.not-found-container {
  padding: 0 10px;
}

.not-found-container img {
  max-width: 50px; /* Adjust the size of the Xclone logo image */
  margin-bottom: 20px;
}

.not-found-container h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.not-found-container p {
  font-size: 15px;
}
