.explore_component {
    overflow-y: scroll;
    margin-bottom: 200px;
    height: 93vh;
}

.explore_component::-webkit-scrollbar {
    width: 0px;
    /* background-color: var(--theme-hover-color); */
}

.trending_page {
    margin-bottom: 100px;
}